aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
apache-beam==2.48.0
apache-flink==1.20.0
apache-flink-libraries==1.20.0
attrs==24.3.0
avro-python3==1.10.2
certifi==2024.8.30
charset-normalizer==3.4.0
cloudpickle==2.2.1
crcmod==1.7
dataclasses-json==0.6.7
dill==0.3.1.1
dnspython==2.7.0
docopt==0.6.2
faiss-cpu==1.9.0.post1
Faker==33.1.0
fastavro==1.9.7
fasteners==0.19
filelock==3.16.1
find_libpython==0.4.0
frozenlist==1.5.0
fsspec==2024.12.0
grpcio==1.68.1
h11==0.14.0
hdfs==2.7.3
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.27.0
idna==3.10
Jinja2==3.1.5
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kafka==1.3.5
kafka-python==2.0.2
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-text-splitters==0.3.4
langsmith==0.2.10
MarkupSafe==3.0.2
marshmallow==3.23.3
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
networkx==3.4.2
numpy==1.24.3
objsize==0.6.1
orjson==3.10.12
packaging==24.2
pandas==2.2.3
pemja==0.4.1
pillow==11.1.0
propcache==0.2.1
proto-plus==1.25.0
protobuf==4.23.4
psycopg2==2.9.10
py4j==0.10.9.7
pyarrow==11.0.0
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydot==1.4.2
pymongo==4.10.1
pyparsing==3.2.0
pyspark==3.5.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
safetensors==0.5.0
scikit-learn==1.6.0
scipy==1.15.0
sentence-transformers==3.3.1
sentencepiece==0.2.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
tokenizers==0.21.0
torch==2.5.1
tqdm==4.67.1
transformers==4.47.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
yarl==1.18.3
zstandard==0.23.0
